@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.screen {
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  height: 100vh;
}

.user-shadow:hover {
  box-shadow: 0 0 15px white;
}

.box-shadow {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.801);
}

.box-shadow-2 {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.801);
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffffd6 -278.56%,
    #6d6d6dcc -78.47%,
    #11101d 81.61%
  );
  opacity: 0.9;
}

.bg-black-gradient:hover {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 121.61%
  );
  opacity: 0.9;
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}



/** Colors gradient */

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

